In [1]:
import numpy as np 
import pandas as pd 
import pickle

In [16]:
df = pd.read_csv(r"admission_chance.csv")
df.drop(['Serial No'], inplace=True, axis=1)
df

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...
395,324,110,3,3.5,3.5,9.04,1,0.82
396,325,107,3,3.0,3.5,9.11,1,0.84
397,330,116,4,5.0,4.5,9.45,1,0.91
398,312,103,3,3.5,4.0,8.78,0,0.67
399,333,117,4,5.0,4.0,9.66,1,0.95

In [35]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score, mean_squared_error


X = df.iloc[:,:-1]
y = df.iloc[:,-1]

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=42)

model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)


print(f"{r2_score(y_test,y_pred)}")

0.8212082591486992

In [38]:
with open("model.pkl",'wb') as file:
    pickle.dump(model,file)

In [54]:
for column in X.columns:
    max_value = X[column].max()
    min_value = X[column].min()
    print(f"Column: {column}, Max: {max_value}, Min: {min_value}")

Column: GRE Score, Max: 340, Min: 290
Column: TOEFL Score, Max: 120, Min: 92
Column: University Rating, Max: 5, Min: 1
Column:  SOP, Max: 5.0, Min: 1.0
Column: LOR , Max: 5.0, Min: 1.0
Column: CGPA, Max: 9.92, Min: 6.8
Column: Research, Max: 1, Min: 0

In [56]:
with open('model.pkl','rb') as file:
    model = pickle.load(file)

input_data = np.array([[300,100,3,3,3,8,1]])
model.predict(input_data)

d:\Ao\Code\PyCode\DSc-MISC\ML-Playground\venv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([0.60903303])